<section class="section">
    <div class="container">
        <table class="table is-bordered is-striped is-fullwidth has-text-centered">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Functionality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Index</td>
                    <td>Displays all Pages</td>
                </tr>   
                <tr>
                    <td>Units</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Tenants</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Rental Agreements</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Utility Providers</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Maintenance Requests</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Maintenance Workers</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Provided Utilities</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
                <tr>
                    <td>Request Assignments</td>
                    <td>Read, Create, Update, Delete</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="content">
            <h3><strong>Overiew of Project</strong></h3>
            <div class="block">
                <p>Metropolis Property Management (MPC) is a newly founded landlord in the residential neighborhood of Maplewood Haven. 
                A year ago, MPC acquired its first property, SkyTower Heights, which is made up of 500 rental units. At the moment, SkyTower 
                Heights has 698 tenants and generated $7.3 million in rental revenue last year.</p>
            </div>
            <div class="block">
                <p>On average, SkyTower Heights receives 400 maintenance requests per month, which are serviced by a team of 15 maintenance workers.
                SkyTower Heights partners with a total of 6 utility providers to supply electricity, gas, water, and waste disposal services. Tenants 
                can choose from 3 cable and 2 high-speed internet providers.</p>
            </div>
            <div class="block">
                <p>At the moment, SkyTower Heights does not have an efficient database system. A data-driven website will record all information necessary 
                to efficiently manage SkyTower Heights. Entities that will be tracked include units, rental agreements, maintenance requests, tenants, 
                maintenance workers, request assignments, and utility providers. Using this data-driven website will allow management to efficiently 
                track vital business information and provide a mechanism for management to analyze data collected.
                </p>  
            </div>
            <div>
                <img src="../assets/ERDProjectGroup78.jpg" alt="ERD"/>
                <img src="../assets/schemaGroup78.jpg" alt="schema">
            </div>
        </div>
    </div>
</section>
         
