<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Display data --}}
<div class="container">
    <div class="content">
        <h3 class="has-text-centered">Rental Agreements</h3>
    </div>
    {{!-- Create table --}}
    <table id="request-assignments-table" class="table is-bordered is-striped is-fullwidth">
        {{!-- Table header --}}
        <thead>
            {{!-- Iterate over keys of the first row and print the current key in the header cell --}}
              <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
        </thead>
        {{!-- Table body --}}
        <tbody>
            {{!-- For each row, print the rental_ID, unit_ID, tenant_ID, start_date, end_date, total_rent_balance, and security_deposit --}}
            {{#each data}}
            <tr data-value={{this.assignment_ID}}>
                <td>{{this.assignment_ID}}</td>
                <td>{{this.worker_ID}}</td>
                <td>{{this.maintenance_request_ID}}</td>
                {{!-- Edit and delete buttons --}}
               
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- <script src="../js/request_assignments_crud/delete_request_assignment.js"></script>
<script src="../js/request_assignments_crud/update_request_assignment.js"></script>
<script src="../js/request_assignments_crud/add_request_assignment.js"></script> --}}
