<navbar class="navbar has-text-centered flex">
    <div class="navbar-menu">
        <a class="navbar-item" href="/">Index</a>
        <a class="navbar-item" href="/units">Units</a>
        <a class="navbar-item" href="/tenants">Tenants</a>
        <a class="navbar-item" href="/rental-agreements">Rental Agreements</a>
        <a class="navbar-item" href="/utility-providers">Utility Providers</a>
        <a class="navbar-item" href="/maintenance-requests">Maintenance Requests</a>
        <a class="navbar-item" href="/maintenance-workers">Maintenance Workers</a>
        <a class="navbar-item" href="/provided-utilities">Provided Utilities</a>
        <a class="navbar-item" href="/request-assignments">Request Assignments</a>
    </div>
</navbar>
